<div class="produto-form-container">
  <h2>Cadastro de Novo Produto</h2>
  
  <form [formGroup]="produtoForm" (ngSubmit)="onSubmit()">
    
    <div class="form-group">
      <label for="nome">Nome do Produto:</label>
      <input id="nome" type="text" formControlName="nome" required>
      <div *ngIf="produtoForm.get('nome')?.invalid && produtoForm.get('nome')?.touched" class="error-message">
        Nome é obrigatório.
      </div>
    </div>
    
    <div class="form-group">
      <label for="descricao">Descrição:</label>
      <textarea id="descricao" formControlName="descricao" required></textarea>
    </div>

    <div class="row">
        <div class="form-group">
            <label for="estoque">Estoque:</label>
            <input id="estoque" type="number" formControlName="estoque" required min="0">
        </div>
        
        <div class="form-group">
            <label for="preco">Preço (R$):</label>
            <input id="preco" type="number" formControlName="preco" required min="0.01" step="0.01">
        </div>
    </div>
    
    <div class="row">
        <div class="form-group">
            <label for="peso">Peso:</label>
            <input id="peso" type="number" formControlName="peso" required min="0" step="0.01">
        </div>
        
        <div class="form-group">
            <label for="altura">Altura:</label>
            <input id="altura" type="number" formControlName="altura" required min="0" step="0.01">
        </div>
        
        <div class="form-group">
            <label for="largura">Largura:</label>
            <input id="largura" type="number" formControlName="largura" required min="0" step="0.01">
        </div>
    </div>
    <div class="form-group">
            <label for="categoria">Categoria:</label>
            <select id="categoria" formControlName="categoriaId" required>
                <option value="" disabled>-- Selecione uma Categoria --</option> 
                
                <option *ngFor="let cat of categorias" [value]="cat.id">
                    {{ cat.nome }}
                </option>
            </select>
            <div *ngIf="produtoForm.get('categoriaId')?.invalid && produtoForm.get('categoriaId')?.touched" class="error-message">
                A categoria é obrigatória.
            </div>
        </div>

    <button type="submit" [disabled]="produtoForm.invalid">Cadastrar Produto</button>
  </form>
</div>
