<nav class="navbar" [class.hide-navbar]="!isNavbarVisible">
  <div class="container">

    <!-- LOGO -->
    <a class="logo" routerLink="/">
      <img src="/img/sem-imagem.png" alt="Logo da Loja Nexy" width="120" height="auto">
    </a>

    <!-- LINKS DE NAVEGAÇÃO -->
    <ul class="nav-links">

      <!-- USUÁRIO COMUM -->
      <ng-container *ngIf="authService.getTipoUsuario() !== 'ADMIN'">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/categorias">Produtos</a></li>
        <li><a routerLink="/sobre">Sobre</a></li>
        <li *ngIf="isLoggedIn$ | async" class="nav-item">
          <a class="nav-link" routerLink="/meus-pedidos">Meus Pedidos</a>
        </li>
      </ng-container>

      <!-- ADMIN -->
      <ng-container *ngIf="authService.getTipoUsuario() === 'ADMIN'">
        <li><a routerLink="/admin/gereciar">Gerenciamento</a></li>
        <li><a routerLink="/home">Home</a></li>
      </ng-container>

      <!-- CARRINHO -->
      <li *ngIf="authService.getTipoUsuario() !== 'ADMIN'" class="nav-item">
        <a class="nav-link" routerLink="/carrinho">
          🛒 Carrinho
        </a>
      </li>

      <!-- LOGIN -->
      <li *ngIf="!(isLoggedIn$ | async)" class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>

      <!-- LOGOUT -->
      <li *ngIf="isLoggedIn$ | async" class="nav-item">
        <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
      </li>

    </ul>
  </div>
</nav>
