<h2>Gerenciar Categorias</h2>
<div class="header-actions">
  <div class="edit-form">
    <button (click)="iniciarCadastro()" class="btn-novo">+ Cadastrar Nova Categoria</button>
  </div>

  <div>
    <h2>Categorias Cadastradas</h2>

    <div *ngIf="carregando">A carregar lista...</div>

    <table *ngIf="!carregando && categorias.length > 0" class="tabela-categorias">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cat of categorias">
          <td>{{ cat.id }}</td>
          <td>{{ cat.nome }}</td>
          <td class="acoes">
            <button (click)="iniciarEdicao(cat)" class="btn-editar">Editar</button>
            <button (click)="removerCategoria(cat.id)" class="btn-remover">Remover</button>
          </td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="!carregando && categorias.length === 0">Nenhuma categoria cadastrada.</p>

  </div>
    <!-- ESTRUTURA DO MODAL (fica no final do ficheiro) -->
  <div *ngIf="mostrarModal" class="modal-overlay" (click)="fecharModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      
      <h3 *ngIf="categoriaEmEdicao">Editando Categoria: {{ categoriaEmEdicao.nome }}</h3>
      <h3 *ngIf="!categoriaEmEdicao">Criar Nova Categoria</h3>

      <form (ngSubmit)="salvarCategoria()">
        <div class="form-group">
          <label for="nomeCategoria">Nome da Categoria</label>
          <input type="text" 
                 id="nomeCategoria" 
                 [(ngModel)]="nomeCategoriaInput" 
                 name="nomeCategoria"
                 required>
        </div>

        <div class="form-actions">
          <button type="button" (click)="fecharModal()" class="btn-cancelar">
            Cancelar
          </button>
          <button type="submit" class="btn-salvar">Salvar</button>
        </div>
      </form>

    </div>
  </div>