<div class="card" [routerLink]="['/produto', produto.id]">
 <img [src]="'http://localhost:8080' + produto.imagens[0]?.url" 
          class="card-img-top" 
          [alt]="produto.nome" 
          *ngIf="produto.imagens && produto.imagens.length > 0; else semImagem">

  <ng-template #semImagem>
    <img src="/img/sem-imagem.png" class="card-img-top" alt="Sem imagem">
  </ng-template>

  <div class="card-body">
    <h5 class="card-title">{{ produto.nome }}</h5>
    <p class="card-text">{{ produto.preco | currency:'BRL' }}</p>
  </div>
</div>